<div class="container">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
      </h1>    
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <h2>{{'PAGES.HOME.MAC.TITLE' | translate}}</h2>
      <p>{{'PAGES.HOME.MAC.DESC' | translate}}</p>
      <a routerLink="/mac">{{ 'PAGES.MAC.GO_TO_MAC' | translate }}</a>
    </div>
    <div class="large-4 columns">
      <h2>{{'PAGES.HOME.WINDOWS.TITLE' | translate}}</h2>
      <p>{{'PAGES.HOME.WINDOWS.DESC' | translate}}</p>
      <a routerLink="/windows">{{ 'PAGES.WINDOWS.GO_TO_WINDOWS' | translate }}</a>
    </div>
    <div class="large-4 columns">
      <h2>{{'PAGES.HOME.LINUX.TITLE' | translate}}</h2>
      <p>{{'PAGES.HOME.LINUX.DESC' | translate}}</p>
      <a routerLink="/linux">{{ 'PAGES.LINUX.GO_TO_LINUX' | translate }}</a>
    </div>
  </div>
    <footer class="row">
      <div class="large-12 columns">
        <h3>{{'PAGES.HOME.FOOTER.TITLE' | translate}}</h3>
        <a routerLink="/detail">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>
      </div>
    </footer>
</div>
